* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 15px;
}

.game-grid {
    margin: auto;
    width: 70vh;
    height: 70vh;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    color: green;
    cursor: pointer;
    display: block;
    border: 3px solid red;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 15vh;
}

#restart-game {
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 12px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: black;
    margin-left: 16px;
    color: white;
}

button:hover {
    background: red;
    transition: all 0.3s ease;
}
